@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg: #17141d;
    --bg-light: #3f374f;
    --secondary: #8957a9;
    --main: #d79ff8;
}

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

a{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--secondary);
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
}

.nav li{
    margin-right: 3rem;
}

.nav li:last-child{
    margin-right: 0;
}

.nav a{
    transition: all ease 0.25s;
    font-weight: 300;
    font-family: 'Trispace', sans-serif;
}

.nav a:hover{
    font-size: 1.2rem;
    color: var(--main);
}

.nav{
    z-index: 8;
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 2.5rem;
    max-height: 100px;
}

.floating-nav{
    z-index: 88;
    height: 60px;
    position: fixed;
    padding: 1rem;
    transform: translateY(-60px);
    top: 0;
    background: #17141db9;
    backdrop-filter: blur(8px);
    transition: transform ease 0.5s;
}

.show-nav{
    transform: translateY(0px);
}

.floating-nav a{
    font-size: 0.8rem;
}

.floating-nav a:hover{
    font-size: 0.9rem;
}

.hero{
    z-index: 8;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 500px;
    margin-bottom: 5rem;
}

.hero p{
    font-size: 1.2rem;
    max-width: fit-content;
    color: #ffffffcb;
    font-family: 'Trispace', sans-serif;
    margin-top: 1.5rem;
    overflow: hidden; 
    border-right: .15em solid var(--main); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.5s steps(50, end),
      blink-caret .5s step-end infinite;
}


.hero h1{
    font-size: 7rem;
    font-weight: 900;
    color: var(--main);
    opacity: 0.8;
    text-shadow: 8px 8px 10px #00000020;
}

.hero-highlight{
    font-weight: 100;
    font-family: 'Trispace';
}

.landing{
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('./Assets/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
}
  
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.landing::after{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #000000c4;
}

.landing::before{
    z-index: 5;
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200vw;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}


@keyframes typing {
    from { width: 0 }
    to { width:  100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--main) }
}

.skills{
    position: relative;
    padding: 5rem;
    height: 100vh;
    background-image: url('./Assets/skills-bg.jpg');
    background-position: center;
    background-size: cover;
    scroll-behavior: smooth;
}

.skills-content{
    position: relative;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.skills::after, .work::after, .education::after{
    backdrop-filter: blur(3px);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #17141dec;
}

.skills-content h1, .work h1, .education h1, .contact h1{
    font-size: 3rem;
    margin-top: 3rem;
    font-weight: 900;
}

.skills-container{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
}

.skill-box{
    width: 350px;
    height: 370px;
    border: 5px solid var(--bg-light);
    margin-right: -5px;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
}

.skill-box-top{
    width: 75%;
}

.skill-icon{
    font-size: 3rem;
    margin-right: 1rem;
    transform: translateY(8%);
}


.skill-box-top-content{
    position: relative;
    margin-top: 2.5rem;
    font-size: 14px;
    line-height: 1.5;
    font-family: Trispace, monospace, sans-serif ;
    margin-left: 1.5rem;
    color: #ffffffc1;
}

.skill-box-top-content::after{
    content: "";
    position: absolute;
    top: 5%;
    left: -1.8rem;
    height: 90%;
    border: 1px solid var(--bg-light);
}

.skill-box-top-content p::before, .skill-box-top-content p::after{
    
    color: var(--bg-light);
    font-size: 0.8rem;
    position: absolute;
    
}

.skill-box-top-content p::before{
    content: "<p>";
    top: -1.5rem;
    left: -2.5rem;
}

.skill-box-top-content p::after{
    content: "</p>";
    bottom: -1.5rem;
    left: -2.5rem;
}

.skill-box-top h2{
    position: relative;
}

.skill-highlight{
    color: var(--main);
    font-weight: bold;
}


.icons-array{
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background-color: var(--bg-light);
}

.icons-item{
    position: relative;
    z-index: 8;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--main);
}


.work{
    position: relative;
    scroll-behavior: smooth;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    /* background-image: url(./Assets/sky-purple.jpg); */
    background: var(--bg);
}

.work::after{
    height: 100%;
}

.work>h1, .work>div{
    z-index: 8;
}

.work h1{
    margin-bottom: 2rem;
}

.work-container h3{
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Trispace';
}

.all{
    margin-left: 10px;
}

.filter-options{
    margin-right: 5px;
    cursor: pointer;
}

.filter-options:hover{
    color: #ffffffcf;
}

.selected:hover{
    color: var(--main);
}

.selected{
    color: var(--main);
    font-weight: 300;
}

.work-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.work-card-container{
    display: flex;
    justify-content:space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
    flex-basis: 500px;
}

.work-card{
    width: 600px;
    height: 400p;
    margin: 1rem;
    margin-bottom: 2rem;
    background-color:#3f374f6b;
    backdrop-filter: blur(5px);
    border-radius: 24px;
    padding: 2rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.131) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.work-card-img-container{
    position: relative;
    border-radius: 16px;
    height: 300px;
    width: 100%;
    overflow: hidden;
    
}

.work-card img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    transition: all ease 0.5s;
}
.default-img{
    opacity: 0.4;
    filter: blur(1px);
    top: unset;
    left: unset;
    transform: unset;
}
.work-card:hover .work-card-img-container>img{
    scale: 1.1;
}

.work-card:hover .work-card-img-container>.default-img{
    scale: 1;   
}

.work-card:hover >p{
    opacity: 1;
    transform: translateY(0);
}


.work-card p{
    text-align: end;
    position: absolute;
    bottom: 45px;
    right: 40px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--secondary);
    font-size: 1rem;
    transform: translateY(20px);
    opacity: 0;
    transition: all ease 0.2s;
}


.work-card h2{
    margin-top: 1.5rem;
    font-size: 1.2rem;
    
}

.work-card a{
    font-family: 'Trispace';
    font-size: 0.8rem;
    transition: all ease 0.25s;
}

.work-card a:hover{
    color: var(--main);
    font-size: 0.9rem;
}

.work-card h2, .work-card a{
    margin-left: .5rem;
}

.education{
    scroll-behavior: smooth;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./Assets/Education-bg.jpg');
    /* background: var(--bg); */
}

.education::after{
    height: 100%;
}

.education>div, .education>h1{
    z-index: 9;
}

.education h1{
    margin-top: 8rem;
}

.edu-card-container{
    margin-top: 5rem;
}

.edu-card{
    display: flex;
    width: 700px;
    z-index: 14;
    position: relative;
    justify-content: space-between;
    background-color: var(--bg-light);
    padding: 1.5rem;
    cursor: pointer;
    transition: all ease 0.25s;
}

.edu-card-highlight{
    background-color: var(--secondary);
}

.edu-card-highlight:hover{
    background-color: var(--secondary);
}

.edu-icon{
    margin-left: 1rem;
    transform: translateY(4px);
    font-size: 1.4rem;
}

.edu-card-info{
    position: relative;
    z-index: 5;
    opacity: 0;
    background-color: #3f374f5b;
    max-width: 700px;
    max-height: 0px;
    transition: all ease 0.5s;
}

.edu-card-info h3{
    font-size: 1rem;
    font-family: 'Trispace', monospace, sans-serif;
    font-weight: 100;
    color: var(--main);
    margin-bottom: 0.7rem;
}

.edu-view{
    opacity: 1;
    max-height: 200px;
}

.resume-btn{
    padding: 0.8rem 2rem;
    margin-top: 3rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Trispace', monospace, sans-serif;
    background:#3f374f93;
    box-shadow: rgba(33, 35, 38, 0.452) 0px 10px 10px -10px;
    transition: all ease 0.25s;
}

.resume-btn:hover{
    transform: translateY(-3px);
    background:#3f374fbc;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px 0px;
}

.resume-btn-a{
    transition: all ease 0.25s;
}

.resume-btn:hover .resume-btn-a{
    color: var(--main);
}   

.contact>h1, .contact>p, .contact>div{
    z-index: 9;
    position: relative;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact>p{
    font-family: 'Trispace', monospace, sans-serif;
    color: var(--main);
    margin-top: 1rem;
}

.socials-container{
    display: grid;
    grid-template-columns: 48% 50%;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 3rem;
    flex-wrap: wrap;
    flex-basis: 400px;
    width: 75%;
    margin-bottom: 3rem;
}

.socials{
    display: flex;
    align-items: center;
    padding-left: 4rem;
    background:#3f374f4d;
    cursor: pointer;
    box-shadow: rgba(33, 35, 38, 0.452) 0px 10px 10px -10px;
    transition: all ease 0.5s;
}

.socials:hover{
    transform: translateY(-3px);
    background:#3f374f61;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px 0px;
}

.social-icon{
    font-size: 6rem;
    color: var(--main);
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.socials-content{
    display: flex;
    flex-direction: column;
}

.socials-content a{
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.socials-content p{
    color: var(--main);
    font-family: 'Trispace', monospace, sans-serif;
    font-size: 0.8rem;
}
